<h1>所有申请</h1>
<table>
  <thead>
    <tr>
      <th>状态</th>
      <th>加班时间</th>
      <th>申请时间</th>
      <th>申请人</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @current_user.applies.each do |apply| %>
      <tr>
        <td><%= apply.status %></td>
        <td><%= apply.overtime.strftime("%Y-%m-%d") %></td>
        <td><%= apply.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= apply.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
