
<p id="notice"><%= notice %></p>

<p>

  <strong>Name:</strong>
   <p><%=@current_user.name%></p>
</p>


<p>
  <strong>申请状态:</strong>
</p>


<p>
  <strong>加班时间:</strong>
</p>

<p>
  <strong>申请时间:</strong>
</p>
